{% extends "base.html" %}
{% block title %} Home - {{super()}}  {% endblock %}

{% block body%}
<div class="container" id="links-inputs">
    <div class="row">
        <div class="col">
            <form  action="{{url_for('random_shorten')}}"method="post" >
            <div class="input-group mb-3">
              <input type="text" name="url" class="form-control" placeholder="Your url you want to shorten" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit">Random Shorten URL</button>
              </div>
            </div>
            </form>
        </div>
        </div>
        <div class="row">
        <div class="col">
        <form action="{{url_for('custom_shorten')}}"method="post" >
        <div class="input-group mb-3">
          <input type="text" name="url" class="form-control" placeholder="Your url you want to shorten" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <input type="text" name="custom_url"class="form-control" placeholder="Your Custom url">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">Custom Shorten URL</button>
          </div>
        </div>
        </form>
        </div>
        </div>
    </div>
</div>

<div class="container-fluid">
<div class="row">
    <div class="col-md-8 offset-2">
    {% if codes %}
    <table class="table table-hover">
        <thead>
        <tr>

          <th scope="col">Your Short Links</th>
          <th scope="col">Original Links</th>
          <th scope="col">Delete Link</th>

        </tr>
        </thead>
        <tbody>
        {% for code in codes %}
        <tr>
        {% if code.short_code  %}
          <td><a href="/{{code.short_code}}" target="_blank">short50/{{code.short_code}}</a></td>
          <td>{{code.link}}</td>
          <td><a href="/delete/{{code.id}}" class="btn btn-outline-primary" role="button">DELETE</a></td>
        {% else %}
            <td><a href="/{{code.custom_code}}"target="_blank">short50/{{code.custom_code}}</a></td>
            <td>{{code.link}}</td>
            <td><a href="/delete/{{code.id}}" class="btn btn-outline-primary" role="button">DELETE</a></td>
          </tr>
        {%endif%}
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
</div>
</div>

{% endblock %}
