{% extends "layout.html" %}

{% block title %}
    Register account
{% endblock %}

{% block main %}

    <form action="/register" method="post" id="register_form">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" id="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
{% block scripts %}
<script>
let username = document.getElementById("username")
let myForm = document.getElementById('register_form');
console.log(username)
console.log(myForm)
myForm.onsubmit = function() {
    $.get('/check?username=' + username, function(data){
        if (data == false) {
            myForm.preventDefault();
            alert('Username taken!');
        }
        else {
            myForm.submit();
        }
    });
}
</script>


{% endblock %}